# This is a cross-platform list tracking distribution packages needed by tests;
# see http://docs.openstack.org/infra/bindep/ for additional information.

gcc
git
tree
mercurial
subversion
libffi-devel [platform:rpm]
openssl-devel [platform:rpm]
python-devel [platform:rpm]
rubygems [platform:rpm]
libffi-dev [platform:dpkg]
libssl-dev [platform:dpkg]
python-dev [platform:dpkg]
ruby [platform:dpkg]
