pbr!=2.1.0,>=2.0.0 # Apache-2.0

jinja2>=2.9
ansible>=2.2.0.0,<2.4
Flask>=0.11,<0.13
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Frozen-Flask
decorator>=4.0.0
cliff
python-subunit
setuptools>=11.3
pygments>=1.6
debtcollector>=1.2.0
junit-xml>=1.7
pyfakefs
six

oslo.serialization>=1.10.0 # Apache-2.0
oslo.utils>=3.20.0 # Apache-2.0

XStatic>=1.0.0 # MIT License
XStatic-Bootstrap-SCSS>=3.3.7.1 # Apache 2.0 License
XStatic-DataTables>=1.10.15 # MIT License
XStatic-jQuery>=1.8.2.1 # MIT License
XStatic-Patternfly>=3.21.0 # Apache 2.0 License
XStatic-Patternfly-Bootstrap-Treeview>=2.1.3 # Apache 2.0 License
