.footer {
    padding-top: 15px;
    margin-top: 25px;
    border-top: 1px dashed black;
}

/* Wrap pre tags so they don't print endlessly horizontally */
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/* Status styling */
.status-label {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 90%;
    font-family: monospace;
    display: inline-block;
    width: 7.5em;
}

.failed, .unreachable {
    background-color: #a30000;
}
.skipped, .ignored {
    background-color: #047a7b;
}
.ok {
    background-color: #3e7b04;
}
.changed {
    background-color: #9d8000;
}

/* Breadcrumb styling */
ol.breadcrumb {
    font-size: 125%;
    font-family: monospace;
}

.breadcrumb > li + li:before {
    content: "> ";
    padding: 0 2px;
}

/* Table styling */
.table th {
    font-size: 120%;
}

td a {
    width:100%;
    display:block;
    font-weight: bold;
}

.summary table, .summary th, .summary td {
    text-align: center;
}

.stats table, .stats th, .stats td {
    text-align: center;
}

.plays table, .plays th, .plays td {
    text-align: center;
}

.tasks table, .tasks th, .tasks td {
    text-align: center;
}

.results table, .results th, .results td {
    text-align: center;
}

.list table, .list th, .list td {
    text-align: center;
}