/* Color for highlighted line */
.hll {
    background-color: #39a5dc;
    color: white;
}

table.table.table-striped tr.active {
    /*
    This doesn't actually work as intended, it doesn't set the actual color...
    But it still changes the row's color to highlight it, let's fix it later.
    */
    background-color: blue;
}

.action-icon {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 12px;
}

.action-available {
    color: #008000;
}

.action-unavailable {
    color: #000000;
}

/* Wrap pre tags so they don't print endlessly horizontally */
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: left;
}

/* Status styling */
.status-label {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 90%;
    font-family: monospace;
    display: inline-block;
    width: 8em;
}

.failed, .unreachable {
    background-color: #a30000;
}
.skipped, .ignored {
    background-color: #047a7b;
}
.ok {
    background-color: #3e7b04;
}
.changed {
    background-color: #9d8000;
}

/* Table styling */
.table th {
    font-size: 120%;
}

.table table, .table th, .table td {
    text-align: center;
}

td a {
    width:100%;;
    font-weight: bold;
}

.date td {
    white-space: nowrap;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}