{% extends "layout.html" %}

{% block content -%}
<!-- Begin about -->
<div class="container-fluid">
    <div class="col-md-custom col-md-offset-custom">
        <div class="row text-center">
            <br>
            <img src="{{ url_for('static', filename='images/logo-main.svg') }}" width="287" height="226" alt="ARA: Ansible Run Analysis" />
            <h1><strong>ARA - Ansible Run Analysis</strong></h1>
            <h2><a href="https://github.com/openstack/ara" target="_blank">ARA</a> records <a href="https://www.ansible.com/" target="_blank">Ansible</a> playbook runs seamlessly to make them easier to visualize, understand and troubleshoot.</h2>
            {% if playbooks and playbooks > 0 -%}
            <h2>ARA makes the following available:</h2>
            <br>
            <ul class="list-group stat-highlight col-md-2 col-md-offset-5">
                <li class="list-group-item">
                    <span class="badge">{{ playbooks }}</span>
                    Playbook runs
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ tasks }}</span>
                    Tasks
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ task_results }}</span>
                    Task results
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ hosts }}</span>
                    Hosts
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ host_facts }}</span>
                    Hosts with gathered facts
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ files }}</span>
                    Playbook, role and task files
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ records }}</span>
                    Records
                </li>
            </ul>
        </div>
        <div class="row text-center">
            <h2>Get started by looking at your <a href="{{ url_for('reports.report_list') }}">playbook reports</a>.</h2>
            {% else -%}
            <h2><strong>The ARA database is empty or the web application is not configured properly to find your playbook data.</strong></h2>
            <h2>Get started by <a href="https://ara.readthedocs.io/en/latest/configuration.html">configuring Ansible to use ARA</a>.</h2>
            <h2>Your data will be available in the interface after an <code>ansible-playbook</code> is run after configuring Ansible to use ARA.</h2>
            <br>
            <br>
            <h3>Need help ? Look at the <a href="https://ara.readthedocs.io/en/latest/">documentation</a> or come chat with users and developers on IRC in #ara on the freenode network.</h3>
            {% endif -%}
        </div>
    </div>
</div>
<!-- End about -->
{% endblock %}
