{% extends "layout.html" %}
{% block content %}
<div class="row text-center">
  <h3>
    <a href="https://github.com/dmsimard/ara" target="_blank">ARA</a> is
    an attempt to make Ansible runs easier to visualize, understand and
    troubleshoot.<br>
  </h3>
  <h4>
    It provides an
    <a href="https://www.ansible.com/" target="_blank">Ansible</a> callback
    to record playbook run data in a database and a web interface built
    with <a href="http://flask.pocoo.org/" target="_blank">Flask</a>
    to browse that data.
  </h4>
  <br>
  Start browsing recorded data with the top navigation bar.
</div>
<br>
<div class="row text-center">
  <div class="col-md-12">
      <h1>Documentation</h1>
      Documentation is available on <a href="http://ara.readthedocs.io/en/latest/" target="_blank">readthedocs.io</a>.
  </div>
</div>
{% endblock %}
