<!DOCTYPE html>

{% import "macros.html" as macros %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ara.css') }}" rel="stylesheet">
    {% endblock %}

    <title>{% block title %}ARA - Ansible Run Analysis{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        {% block header %}
        {% include "navbar.html" %}
        {% endblock %}
      </div>

      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

      <div class="footer">
        {% block footer %}
        <div class="container text-center">
          <strong>ARA</strong> - Ansible Run Analysis is an open source project available on <a href="http://github.com/dmsimard/ara" target="_blank">Github</a>.
        </div>
        {% endblock %}
      </div>
    </div>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
