{% extends "layout.html" %}

{% block content %}
<div class="row text-center">
    <h1>This URL has moved to the <a href="{{ url_for('reports.report_list') }}">Playbook reports</a> page.</h1>
    <h2>It is deprecated and will be removed in a future version.</h2>

    <h2>Click <a href="{{ url_for('reports.report_list') }}">here</a> to access the new page if you are not redirected automatically.</h2>
</div>

<script>
    window.setTimeout(function(){
        window.location.href = "{{ url_for('reports.report_list') }}";
    }, 10000);
</script>
{% endblock %}
