{% extends "layout.html" %}

{% block content %}
<!-- Begin report list -->
<div class="col-md-custom col-md-offset-custom">
    <div class="row">
        <br>
        <div class="alert alert-info">
            <span class="pficon pficon-info"></span>
            Browse your playbook reports here: Get started by expanding the "<strong>Hosts</strong>", "<strong>Plays</strong>", "<strong>Files</strong>" or "<strong>Tasks</strong>" panels below.
            You can mouse over most elements to have more details about them.
        </div>
        <div class="list-group list-view-pf list-view-pf-view">
            {% for playbook in playbooks.items %}
            {% set playbook_count = playbook.hosts | fast_count %}
            {% set play_count = playbook.plays | fast_count %}
            {% set file_count = playbook.files | fast_count %}
            {% set task_count = playbook.tasks | fast_count %}
            {% set record_count = playbook.data | fast_count %}
            {% set stats_count = playbook.stats | fast_count %}
            <!-- Begin playbook iteration -->
            <div class="list-group-item">
                <div class="list-view-pf-left">
                    {{ macros.render_status(stats[playbook.id].status) }}
                </div>
                <!-- Begin playbook entry in the list -->
                <div class="list-view-pf-main-info">
                    <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                            <div class="list-group-item-heading timestamp-heading">
                                <span title="Date at which the playbook started">{{ playbook.time_start |datefmt }}</span>
                            </div>
                            <div class="list-group-item-heading" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{ macros.render_playbook_summary(playbook) }}">
                                <a href="#" data-toggle="modal" data-target="#file_modal" data-load="{{ playbook.file.id }}/">{{ playbook.path | basename }}</a>
                            </div>
                        </div>
                        <div class="list-view-pf-additional-info">
                            <div class="list-view-pf-additional-info-item" title="Duration of the entire playbook">
                                <span class="fa fa-clock-o"></span>
                                <strong>{{ playbook.duration |timefmt }}</strong>
                            </div>
                            <br>
                            <div class="list-view-pf-additional-info-item" title="Hosts involved in the playbook">
                                <div class="list-view-pf-expand">
                                    <span class="fa fa-angle-right"></span>
                                    <span class="pficon pficon-server"></span>
                                    <strong>{{ playbook_count }}</strong> Hosts
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info-item" title="Plays involved in the playbook">
                                <div class="list-view-pf-expand">
                                    <span class="fa fa-angle-right"></span>
                                    <span class="pficon pficon-flag"></span>
                                    <strong>{{ play_count }}</strong> Plays
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info-item" title="Role and task files involved in the playbook">
                                <div class="list-view-pf-expand">
                                    <span class="fa fa-angle-right"></span>
                                    <span class="fa fa-folder-open"></span>
                                    <strong>{{ file_count }}</strong> Files
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info-item" title="Tasks involved in the playbook">
                                <div class="list-view-pf-expand">
                                    <span class="fa fa-angle-right"></span>
                                    <span class="fa fa-check"></span>
                                    <strong>{{ task_count }}</strong> Tasks
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info-item" title="Records saved with ara_record throughout the playbook">
                                <div class="list-view-pf-expand">
                                    <span class="fa fa-angle-right"></span>
                                    <span class="fa pficon-save"></span>
                                    <strong>{{ record_count }}</strong> Records
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End playbook entry in the list -->

                <!-- Begin playbook details -->
                <!-- Begin playbook host stats details -->
                <div class="list-group-item-container container-fluid hidden">
                    <div class="close">
                        <span class="pficon pficon-close"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>
                                <strong>Hosts</strong>
                            </h3>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="pficon pficon-info"></span> Browsing tips</h3>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>All table columns are sortable</li>
                                        <li>If facts have been gathered:
                                            <ul>
                                                <li>Hover hosts to see a quick highlight summary of the recorded host facts</li>
                                                <li>Click on a host to browse the full list of recorded host facts</li>
                                            </ul>
                                        </li>
                                        <li>Use the search box to find specific hosts based on their properties, for example:
                                            <ul>
                                                <li><strong>localhost</strong> would match only 'localhost' (provided by default: the Ansible inventory hostname)</li>
                                                <li><strong>fedora</strong> would match all 'fedora' hosts (provided by the <i>ansible_distribution</i> fact)</li>
                                                <li><strong>192.168.1</strong> would match all hosts with an IP in the '192.168.1' range (provided by the <i>ansible_all_ipv4_addresses</i> fact)</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            {% if stats_count %}
                            <table class="table table-striped table-bordered table-hover table-condensed" id="stats_{{ playbook.id }}">
                                <thead>
                                    <tr>
                                        <th><span class="pull-left">Host</span></th>
                                        <th class="col-md-2"><span class="ok label">OK</span></th>
                                        <th class="col-md-2"><span class="changed label">CHANGED</span></th>
                                        <th class="col-md-2"><span class="failed label">FAILED</span></th>
                                        <th class="col-md-2"><span class="skipped label">SKIPPED</span></th>
                                        <th class="col-md-2"><span class="unreachable label">UNREACHABLE</span></th>
                                    </tr>
                                </thead>
                            </table>
                            {% else %}
                            <div class="text-center">
                                <h2>There is no host statistics for this playbook.</h2>
                                <h3>Either no hosts were selected for the playbook or the playbook execution was interrupted and the data is incomplete.</h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End playbook host stats details -->

                <!-- Begin playbook play details -->
                <div class="list-group-item-container container-fluid hidden">
                    <div class="close">
                        <span class="pficon pficon-close"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>
                                <strong>Plays</strong>
                            </h3>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="pficon pficon-info"></span> Browsing tips</h3>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>All table columns are sortable</li>
                                        <li>Use the search box to find a specific play based on it's name</li>
                                        <li>To see your playbook file, click the playbook file path in the playbook report list</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            {% if play_count %}
                            <table class="table table-striped table-bordered table-hover table-condensed" id="plays_{{ playbook.id }}">
                                <thead>
                                    <tr>
                                        <th><span class="pull-left">Play</span></th>
                                        <th class="col-md-2">Start</th>
                                        <th class="col-md-2">End</th>
                                        <th class="col-md-2">Duration</th>
                                    </tr>
                                </thead>
                            </table>
                            {% else %}
                            <div class="text-center">
                                <h2>There is no play information for this playbook.</h2>
                                <h3>Either there was no play in the playbook or the playbook execution was interrupted and the data is incomplete.</h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End playbook play details -->

                <!-- Begin playbook file details -->
                <div class="list-group-item-container container-fluid hidden">
                    <div class="close">
                        <span class="pficon pficon-close"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>
                                <strong>Files</strong>
                            </h3>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="pficon pficon-info"></span> Browsing tips</h3>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>The table column is sortable</li>
                                        <li>Use the search box to find a specific file based on it's name or path</li>
                                        <li>Click on any file to see it's contents</li>
                                        <li><strong>Note:</strong> This panel is temporary and will be improved in a future version.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            {% if file_count %}
                            <table class="table table-striped table-bordered table-hover table-condensed" id="files_{{ playbook.id }}">
                                <thead>
                                    <tr>
                                        <th><span class="pull-left">File</span></th>
                                    </tr>
                                </thead>
                            </table>
                            {% else %}
                            <div class="text-center">
                            <h2>There is no recorded file for this playbook.</h2>
                            <h3>Either there was a problem or the playbook execution was interrupted and the data is incomplete.</h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End playbook file details -->

                <!-- Begin playbook task details -->
                <div class="list-group-item-container container-fluid hidden">
                    <div class="close">
                        <span class="pficon pficon-close"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>
                                <strong>Tasks</strong>
                            </h3>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="pficon pficon-info"></span> Browsing tips</h3>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>All table columns are sortable</li>
                                        <li>Click on a task status (ex: 'failed') to see the detailed task result</li>
                                        <li>Use the search box to find specific tasks based on their properties, for example:
                                            <ul>
                                                <li><strong>do something</strong> would only match tasks with 'do something' in their name</li>
                                                <li><strong>localhost</strong> would only match tasks on the host 'localhost'</li>
                                                <li><strong>include</strong> would match tasks with 'include' in their task name or as the task action
                                                <li><strong>failed</strong> would only match tasks with the 'failed' status</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            {% if task_count %}
                            <table class="table table-striped table-bordered table-hover table-condensed" id="tasks_{{ playbook.id }}">
                                <thead>
                                    <tr>
                                        <th><span class="pull-left">Task</span></th>
                                        <th>Host</th>
                                        <th>Action</th>
                                        <th class="col-md-1">Elapsed</th>
                                        <th class="col-md-1">Duration</th>
                                        <th class="col-md-1">Status</th>
                                    </tr>
                                </thead>
                            </table>
                            {% else %}
                            <div class="text-center">
                                <h2>There is no task data for this playbook.</h2>
                                <h3>Either no tasks ran for the playbook or the playbook execution was interrupted and the data is incomplete.</h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End playbook task details -->

                <!-- Begin playbook data details -->
                <div class="list-group-item-container container-fluid hidden">
                    <div class="close">
                        <span class="pficon pficon-close"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>
                                <strong>Records</strong>
                            </h3>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="pficon pficon-info"></span> Browsing tips</h3>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>Data recorded with the <a href="https://ara.readthedocs.io/en/latest/usage.html#ara-record" target="_blank">ara_record</a> Ansible module will be displayed here</li>
                                        <li>Use the search box to find a specific key based on it's name or expected contents.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            {% if record_count %}
                            <table class="table table-striped table-bordered table-hover table-condensed" id="records_{{ playbook.id }}">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">Key</span></th>
                                        <th><span class="pull-left">Value</span></th>
                                    </tr>
                                </thead>
                            </table>
                            {% else %}
                            <div class="text-center">
                                <h2>There is no recorded data for this playbook.</h2>
                                <h3>The <a href="https://ara.readthedocs.io/en/latest/usage.html#ara-record" target="_blank">ara_record</a> Ansible module helps you record arbitrary persistent data that is displayed here.</h3>
                                <h3>It provides the ability to save strings, lists, dicts, json or urls and each will be rendered accordingly. Try it out!</h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End playbook data details -->
                <!-- End playbook details -->
            </div>

            <!-- Begin modals -->
            <div class="modal fade" id="host_modal" tabindex="-1" role="dialog" aria-labelledby="host_modal" aria-hidden="true">
                <div class="modal-lg modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="pficon pficon-close"></span>
                            </button>
                        </div>
                        <div class="modal-body embed-responsive embed-responsive-item">
                            <div class="row text-center"><strong>Loading host facts...</strong></div>
                            <div class="spinner spinner-lg"></div>
                            <iframe id="host_iframe" class="iframe" data-src="{{ url_for('host.index') }}"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="file_modal" tabindex="-1" role="dialog" aria-labelledby="file_modal" aria-hidden="true">
                <div class="modal-lg modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="pficon pficon-close"></span>
                            </button>
                        </div>
                        <div class="modal-body embed-responsive embed-responsive-item">
                            <div class="row text-center"><strong>Loading file content...</strong></div>
                            <div class="spinner spinner-lg"></div>
                            <iframe id="file_iframe" class="iframe" data-src="{{ url_for('file.index') }}"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="task_result_modal" tabindex="-1" role="dialog" aria-labelledby="task_result_modal" aria-hidden="true">
                <div class="modal-lg modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="pficon pficon-close"></span>
                            </button>
                        </div>
                        <div class="modal-body embed-responsive embed-responsive-item">
                            <div class="row text-center"><strong>Loading task details...</strong></div>
                            <div class="spinner spinner-lg iframe-spinner"></div>
                            <iframe id="result_iframe" class="iframe" data-src="{{ url_for('result.index') }}"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End modals -->
            <!-- Begin data table javascript -->
            <script>
                {% if stats_count -%}
                $("#stats_{{ playbook.id }}").on( 'error.dt', function ( e, settings, techNote, message ) {
                    console.log( 'An error has been reported by DataTables: ', message );
                }).DataTable({
                    "ajax": "{{ url_for('reports.ajax_stats', playbook=playbook.id) }}",
                    "deferRender": true,
                    "processing": true,
                    "order": [[ 0, "asc" ]],
                    "language": {
                        "search": "Search: ",
                        "loadingRecords": "<br><div class='row'>Loading host stats...</div><div class='spinner table-spinner'></div>"
                    },
                    "fnInitComplete": function(oSettings, json) {
                        $('[data-toggle="tooltip"]').tooltip();
                    },
                    {{ macros.result_page_length(result_per_page) }}
                });
                {% endif %}
                {% if play_count -%}
                $("#plays_{{ playbook.id }}").on( 'error.dt', function ( e, settings, techNote, message ) {
                    console.log( 'An error has been reported by DataTables: ', message );
                }).DataTable({
                    "ajax": "{{ url_for('reports.ajax_plays', playbook=playbook.id) }}",
                    "deferRender": true,
                    "processing": true,
                    "order": [[ 1, "asc" ]],
                    "language": {
                        "search": "Search: ",
                        "loadingRecords": "<br><div class='row'>Loading plays...</div><div class='spinner table-spinner'></div>"
                    },
                    {{ macros.result_page_length(result_per_page) }}
                });
                {% endif %}
                {% if file_count -%}
                $("#files_{{ playbook.id }}").on( 'error.dt', function ( e, settings, techNote, message ) {
                    console.log( 'An error has been reported by DataTables: ', message );
                }).DataTable({
                    "ajax": "{{ url_for('reports.ajax_files', playbook=playbook.id) }}",
                    "deferRender": true,
                    "processing": true,
                    "order": [[ 0, "asc" ]],
                    "language": {
                        "search": "Search: ",
                        "loadingRecords": "<br><div class='row'>Loading files...</div><div class='spinner table-spinner'></div>"
                    },
                    {{ macros.result_page_length(result_per_page) }}
                });
                {% endif %}
                {% if task_count -%}
                $("#tasks_{{ playbook.id }}").on( 'error.dt', function ( e, settings, techNote, message ) {
                    console.log( 'An error has been reported by DataTables: ', message );
                }).DataTable({
                    "ajax": "{{ url_for('reports.ajax_results', playbook=playbook.id) }}",
                    "deferRender": true,
                    "processing": true,
                    "order": [[ 3, "asc" ]],
                    "language": {
                        "search": "Search: ",
                        "loadingRecords": "<br><div class='row'>Loading task results...</div><div class='spinner table-spinner'></div>"
                    },
                    {{ macros.result_page_length(result_per_page) }}
                });
                {% endif %}
                {% if record_count -%}
                $("#records_{{ playbook.id }}").on( 'error.dt', function ( e, settings, techNote, message ) {
                    console.log( 'An error has been reported by DataTables: ', message );
                }).DataTable({
                    "ajax": "{{ url_for('reports.ajax_records', playbook=playbook.id) }}",
                    "deferRender": true,
                    "processing": true,
                    "ordering": false,
                    "language": {
                        "search": "Search: ",
                        "loadingRecords": "<br><div class='row'>Loading records...</div><div class='spinner table-spinner'></div>"
                    },
                    {{ macros.result_page_length(result_per_page) }}
                });
                {% endif %}
            </script>
            <!-- End data table javascript -->
            <!-- End playbook iteration -->
            {% endfor %}
        </div>
    </div>
</div>

<!-- Begin pagination -->
<div class="col-md-11 col-md-offset-custom">
    <div class="row text-center">
        Displaying <strong>{{ playbooks.items |length }}</strong> playbook reports out of a total of <strong>{{ playbooks.total }}</strong>.
    </div>
    {% if playbooks.pages > 1 %}
    <div class="row text-center">
        <ul class="pagination">
            {% if playbooks.has_prev %}
            <li>
                <a href="{{ url_for('reports.report_list', page=playbooks.prev_num) }}"><span class="i fa fa-angle-left"></span></a>
            </li>
            {% endif %}
            {% for page in playbooks.iter_pages() %}
            {% if page == playbooks.page %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
                <a href="{{ url_for('reports.report_list', page=page) }}">{{ page }}</a>
            </li>
            {% endfor %}
            {% if playbooks.has_next %}
            <li>
                <a href="{{ url_for('reports.report_list', page=playbooks.next_num) }}"><span class="i fa fa-angle-right"></span></a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>
<!-- End pagination -->

<script>
    $('.modal').on('show.bs.modal', function(e) {
        /* Only load the iframe content when the modal is opened */
        var load = $(e.relatedTarget).data('load');
        $(this).find('iframe').prop('src', function() {
            // Set their src attribute to the value of data-src
            return $(this).data('src').replace('index.html','').concat(load);
        });

        /* Adjust modal and iframe height based on window size */
        $('.modal .modal-body').css('max-height', $(window).height() * 0.7);
        $('.embed-responsive-item').css('height', $(window).height() * 0.7);
    });

    /* Disable default error alerts from datatables, fold them to the javascript console instead */
    $.fn.dataTable.ext.errMode = 'none';
</script>
<!-- End report list -->
{% endblock %}
