{% extends "layout.html" %}

{% block content -%}
<!-- Begin single report -->
<div class="col-md-custom col-md-offset-custom">
    <div class="row">
        <br>
        <div class="alert alert-info">
            <span class="pficon pficon-info"></span>
            Browse your playbook reports here: Get started by expanding the "<strong>Hosts</strong>", "<strong>Plays</strong>", "<strong>Files</strong>" or "<strong>Tasks</strong>" panels below.
            You can mouse over most elements to have more details about them.
        </div>
        <div class="list-group list-view-pf list-view-pf-view">
            {% include "report.html" -%}
        </div>
    </div>
</div>
<!-- End single report -->
{% endblock -%}
