{% extends "layout.html" %}
{% block content %}
<div class="row text-center">
    <div class="col-md-12">
        <h2>Specific run for playbook: <span style="font-style: italic;">"{{ playbook }}"</span></h2>
    </div>
</div>
<br>
<div class="row" style="display: flex; align-items: center;">
    <div class="col-md-1 text-center">
        <h2>Info</h2>
    </div>
    <div class="col-md-11">
        <table class="table table-striped table-hover table-condensed table-bordered" style="margin: 0 auto !important; float;">
            <thead>
                <tr>
                    <th class="text-center">Playbook</th>
                    <th class="text-center">UUID</th>
                    <th class="text-center">Start</th>
                    <th class="text-center">End</th>
                    <th class="text-center">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><a href="/playbook/{{ playbook_data.playbook }}">{{ playbook_data.playbook }}</a></td>
                    <td class="text-center"><a href="/run/{{ playbook_data.id }}">{{ playbook_data.id }}</a></td>
                    <td class="text-center">{{ playbook_data.start |datetime(format='%Y-%m-%d %H:%M:%S') }}</td>
                    <td class="text-center">{{ playbook_data.end |datetime(format='%Y-%m-%d %H:%M:%S') }}</td>
                    <td class="text-center">{{ playbook_data.duration |seconds_to_duration }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="row" style="display: flex; align-items: center;">
    <div class="col-md-1 text-center">
        <h2>Stats</h2>
    </div>
    <div class="col-md-11">
        <table class="table table-striped table-hover table-condensed table-bordered" style="margin: 0 auto !important; float;">
            <thead>
                <tr>
                    <th class="text-center">Host</th>
                    <th class="text-center"><a href="/run/{{ id }}/ok"><label class="label OK">OK</label></a></th>
                    <th class="text-center"><a href="/run/{{ id }}/changed"><label class="label CHANGED">CHANGED</label></a></th>
                    <th class="text-center"><a href="/run/{{ id }}/skipped"><label class="label SKIPPED">SKIPPED</label></a></th>
                    <th class="text-center"><a href="/run/{{ id }}/failed"><label class="label FAILED">FAILED</label></a></th>
                    <th class="text-center"><a href="/run/{{ id }}/unreachable"><label class="label UNREACHABLE">UNREACHABLE</label></a></th>
                </tr>
            </thead>
            <tbody>
                {% for row in stats_data %}
                <tr>
                    <td class="text-center"><a href="/host/{{ row.host }}">{{ row.host }}</a></td>
                    <td class="text-center">{{ row.ok }}</td>
                    <td class="text-center">{{ row.changed }}</td>
                    <td class="text-center">{{ row.skipped }}</td>
                    <td class="text-center">{{ row.failures }}</td>
                    <td class="text-center">{{ row.unreachable }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row" style="display: flex; align-items: center;">
    <div class="col-md-12 text-right">
        <h3>Filter by status</h3>
        <a href="/run/{{ id }}/ok"><label class="label status-filter OK" style="margin-right: 5px;">OK</label></a>
        <a href="/run/{{ id }}/changed"><label class="label status-filter CHANGED" style="margin-right: 5px;">CHANGED</label></a>
        <a href="/run/{{ id }}/skipped"><label class="label status-filter SKIPPED" style="margin-right: 5px;">SKIPPED</label></a>
        <a href="/run/{{ id }}/failed"><label class="label status-filter FAILED" style="margin-right: 5px;">FAILED</label></a>
        <a href="/run/{{ id }}/unreachable"><label class="label status-filter UNREACHABLE" style="margin-right: 5px;">UNREACHABLE</label></a>
        <a href="/run/{{ id }}/ignored"><label class="label status-filter SKIPPED" >IGNORED</label></a>
        <a href="/run/{{ id }}"><label class="label status-filter label-default" >ALL</label></a>
    </div>
</div>
<br>
{% if task_data.count() %}
<div class="row">
    <table class="table table-striped table-hover table-condensed table-bordered" style="margin: 0 auto !important; float;">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th class="text-center">Status</th>
                <th>Host</th>
                <th>Play > Task > Module</th>
            </tr>
        </thead>
        <tbody>
            {% for row in task_data %}
            <tr class="task">
                <td id="{{ row.end |datetime }}" style="white-space: nowrap;">
                    <a class="detail-link" href="#{{ row.end |datetime }}">{{ row.end |datetime }}</a>
                </td>
                <td class="text-center">
                    <a class="detail-link" href="/run/{{ id }}/{{ row |pick_status |lower }}"><label class="label {{ row |pick_status }}">{{ row |pick_status }}</label></a><br>
                    {% if row.failed and row.ignore_errors %}
                    <a class="detail-link" href="/run/{{ id }}/ignored"><label class="label SKIPPED">IGNORED</label></a><br>
                    {% endif %}
                    {{ row.duration |seconds_to_duration }}
                </td>
                <td><a class="detail-link" href="/host/{{ row.host }}">{{ row.host }}</a></td>
                <td style="white-space: nowrap;">
                    <ul>
                        {% if row.play %}
                        <li><strong>Play:</strong> {{ row.play }}</li>
                        {% else %}
                        <li><strong>Play:</strong> <span style="font-style: italic">No name provided</span></li>
                        {% endif %}
                        <ul>
                            {% if row.task %}
                            <li><strong>Task:</strong> <a class="detail-link" href="/task/{{ row.id }}">{{ row.task }}</a></li>
                            {% else %}
                            <li><strong>Task:</strong> <span style="font-style: italic">No name provided</span></li>
                            {% endif %}
                            <ul>
                                <li><strong>Module:</strong> {{ row.module }}</li>
                            </ul>
                        </ul>
                    </ul>
                </td>
            </tr>
            <tr class="results" style="display: none;">
                <td colspan="4">{{ row.result |to_nice_json }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row text-center">
    <div class="alert alert-info col-md-6 col-md-offset-3" role="alert">
        <strong>No tasks found for this query.</strong><br>
        [ <a href="/run/{{ playbook_data.id }}">Clear filter</a> ]
    </div>
</div>
{% endif %}
{% endblock %}