{% extends "layout.html" %}

{% block content %}
<h2>Task{% if task.name %} "{{task.name}}"{% endif %}</h2>

<ul>
  <li>{{make_link('play', 'play', play=task.play.id)}}</li>
  <li>{{make_link('playbook', 'playbook',
    playbook=task.playbook.id)}}</li>
</ul>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Duration</th>
    <th>Action</th>
    <th>File</th>
    <th>Line</th>
  </tr>

  <tr>
    <td>{{task.time_start}}</td>
    <td>{{task.time_end}}</td>
    <td>{{task.duration}}</td>
    <td>{{task.action}}</td>
    <td>{{task.path}}</td>
    <td>{{task.lineno}}</td>
  </tr>
</table>

<h2>Results</h2>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Duration</th>
    <th>Host</th>
    <th>Status</th>
    <th></th>
  </tr>
  {% for result in task.task_results.order_by('time_start') %}
  <tr>
    <td>{{result.time_start}}</td>
    <td>{{result.time_end}}</td>
    <td>{{result.duration}}</td>
    <td>{{make_link('host', result.host.name, host=result.host.name)}}</td>
    <td>{{result|pick_status}}</td>
    <td>{{make_link('taskresult', 'details',
      taskresult=result.id)}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
