{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ARA Records Ansible">
    <meta name="author" content="https://github.com/ansible-community/ara">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <title>ARA Records Ansible</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}">
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'ui:index' %}">
          <img src="{% static 'images/logo.svg' %}" height="60" alt="ARA Records Ansible">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if page == 'index' %} active{% endif %}">
              <a class="nav-link" href="{% url 'ui:index' %}">Playbooks</a>
            </li>
            <li class="nav-item">
              {% include "partials/api_link.html" %}
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://ara.readthedocs.io" target="_blank">Documentation</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <br />
    <!-- Begin page content -->
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <main role="main">
        {% block body %}
        {% endblock %}
    </main>
  </body>
</html>
