{% extends "base.html" %}
{% block title %}| Hosts{% if not static_generation %}: {{ current_page_results }} of {{ data.count }}{% endif %}{% endblock title %}
{% block body %}

{% include "partials/search/hosts.html" %}

<div>
  {% if data.results %}
    {% if not static_generation %}
      {% include "partials/pagination.html" %}
    {% endif %}
    {% include "partials/tables/hosts.html" with hosts=data.results %}
  {% else %}
    {% if not request.GET %}
      <h2>No recorded results found.</h2>
      <h3>Record a playbook with the ara callback plugin enabled and try again.</h3>
    {% else %}
      <h3>No results found matching your query: try <a href="{% url 'ui:host_index' %}">clearing search filters</a>.</h3>
    {% endif %}
  {% endif %}
</div>

{% endblock body %}