{% extends "base.html" %}
{% load datetime_formatting %}
{% load truncatepath %}

{% block title %}| Playbook #{{ playbook.id }}: {{ playbook.path | truncatepath:60 }} ({{ playbook.items.tasks }} task{{ playbook.items.tasks | pluralize }} on {{ playbook.items.hosts }} host{{ playbook.items.hosts | pluralize }}){% endblock title %}
{% block body %}

<div>
  {% include "partials/playbook_card.html" %}
</div>
<br/>
<div>
  {% include "partials/playbook_details.html" %}
</div>
<br/>
<div>
  {% include "partials/tables/playbook_results.html" %}
</div>
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

{% endblock body %}
