<!-- About ara modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="aboutModalLabel">ara {{ ARA_VERSION }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>ARA Records Ansible and makes it easier to understand and troubleshoot.<br>It is another recursive acronym.</p>
            <p>ara is a free and open source project under the GPLv3 license.</p>
          </li>
          <li class="list-group-item">Code: <a href="https://github.com/ansible-community/ara" target="_blank">https://github.com/ansible-community/ara</a></li>
          <li class="list-group-item">Website: <a href="https://ara.recordsansible.org" target="_blank">https://ara.recordsansible.org</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
