{% if not static_generation %}
    {% if request.GET.order == "-duration" %}
    <button class="pf-c-button pf-m-plain" name="order" value="duration" type="submit">
        <span class="pf-c-table__sort-indicator">
            <i class="fas fa-long-arrow-alt-down"></i>
        </span>
        Duration
    </button>
    {% elif request.GET.order == "duration" %}
    <button class="pf-c-button pf-m-plain" name="order" value="-duration" type="submit">
        <span class="pf-c-table__sort-indicator">
            <i class="fas fa-long-arrow-alt-up"></i>
        </span>
        Duration
    </button>
    {% else %}
    <button class="pf-c-button pf-m-plain" name="order" value="-duration" type="submit">
        <span class="pf-c-table__sort-indicator">
            <i class="fas fa-arrows-alt-v"></i>
        </span>
        Duration
    </button>
    {% endif %}
{% else %}
Duration
{% endif %}