module ara-gunicorn 1.0;

require {
    type admin_home_t;
    type init_t;
    class file { execute execute_no_trans ioctl lock open read write };
}

#============= init_t ==============
allow init_t admin_home_t:file { execute execute_no_trans ioctl lock open read write };
