details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    white-space: nowrap;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.pf-c-form-control {
    width: 175px;
}

.pf-c-alert p {
    font-size: 0.8em;
}

#host-details pre {
    white-space: pre-wrap;
}

#result-details pre {
    white-space: pre-wrap;
}

.table-plain tbody tr,
.table-plain tbody tr:hover,
.table-plain tbody td {
  background-color:transparent;
  border:none;
}