{% load datetime_formatting %}
<div class="row">
    <!-- Left side -->
    <div class="col-md-6">
        <div class="card">
          <h5 class="card-header">System Information: {{ host.facts.ansible_fqdn }}</h5>
            <div class="card-body">
              <ul>
                <li><strong>Uptime: </strong>{{ host.facts.ansible_uptime_seconds | duration_from_seconds }}</li>
                <li><strong>Load average: </strong>{{ host.facts.ansible_loadavg.15m | floatformat:2 }}, {{ host.facts.ansible_loadavg.5m | floatformat:2 }}, {{ host.facts.ansible_loadavg.1m | floatformat:2 }}</li>
                <li><strong>Processor: </strong>{{ host.facts.ansible_processor.2 }} ({{ host.facts.ansible_processor_cores }} cores, {{ host.facts.ansible_processor_nproc }} threads)</li>
                <li><strong>OS: </strong>{{ host.facts.ansible_distribution }} {{ host.facts.ansible_distribution_version }}</li>
                <li><strong>Kernel: </strong>{{ host.facts.ansible_kernel }}</li>
                <li><strong>Python: </strong>{{ host.facts.ansible_python.version.major }}.{{ host.facts.ansible_python.version.minor }}.{{ host.facts.ansible_python.version.micro }}</li>
                <li><strong>Default ipv4: </strong>{{ host.facts.ansible_default_ipv4.address }} on {{ host.facts.ansible_default_ipv4.interface }} ({{ host.facts.ansible_default_ipv4.macaddress }})</li>
                <li><strong>Default ipv6: </strong>{{ host.facts.ansible_default_ipv6.address }} on {{ host.facts.ansible_default_ipv6.interface }} ({{ host.facts.ansible_default_ipv6.macaddress }})</li>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">Memory</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="type"></th>
                                <th scope="col">total</th>
                                <th scope="col">used</th>
                                <th scope="col">free</th>
                                <th scope="col">buff/cache</th>
                                <th scope="col">available</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mem:</td>
                                <td class="align-middle">{{ host.facts.ansible_memory_mb.real.total }} MB</td>
                                <td class="align-middle">{{ host.facts.ansible_memory_mb.real.used }} MB</td>
                                <td class="align-middle">{{ host.facts.ansible_memory_mb.real.free }} MB</td>
                                <td class="align-middle">{{ host.facts.ansible_memory_mb.nocache.free }} MB</td>
                                <td class="align-middle">{{ host.facts.ansible_memory_mb.nocache.used }} MB</td>
                            </tr>
                           <tr>
                                <td>Swap:</td>
                                <td class="align-middle">{{ host.facts.ansible_memory_mb.swap.total }} MB</td>
                                <td class="align-middle">{{ host.facts.ansible_memory_mb.swap.used }} MB</td>
                                <td class="align-middle">{{ host.facts.ansible_memory_mb.swap.free }} MB</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <h5 class="card-header">Disk Partitions</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Filesystem</th>
                                <th scope="type">Type</th>
                                <th scope="col">Size</th>
                                <th scope="col">Available</th>
                                <th scope="col">Mounted on</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mount in host.facts.ansible_mounts %}
                            <tr>
                                <td class="align-middle">{{ mount.device }}</td>
                                <td class="align-middle">{{ mount.fstype }}</td>
                                <td class="align-middle">{{ mount.size_total | filesizeformat }}</td>
                                <td class="align-middle">{{ mount.size_available | filesizeformat }}</td>
                                <td class="align-middle">{{ mount.mount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
